fastapi
uvicorn[standard]
ollama
python-dotenv
pydantic
langgraph
websockets
requests
psycopg2-binary
openai
pymupdf
numpy
SQLAlchemy>=2.0
alembic
langchain-text-splitters
tiktoken
sentence-transformers
fpdf
