fastapi
python-multipart
uvicorn[standard]
ollama
python-dotenv
pydantic
email-validator
langgraph
websockets
requests
psycopg2-binary
openai
pymupdf
numpy
SQLAlchemy>=2.0
alembic
fpdf
langchain-text-splitters
pytest
pytest-asyncio
